@charset "UTF_8";
@font-face {
    font-family: "Roboto";
    src: url("../font_roboto/RobotoCondensed-Light.ttf");
    
}

:root{
    --cor0:#070C2A;
    --cor1:#072359;
    --cor2:#1C3FA6;
    --cor3:#275AF2;
    --cor4:#021E73;
}
body ,ul , li ,p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color:white;
}
p{
    color: rgb(32, 32, 32);
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
    font-size: 1.2em;
    background-color: var(--cor0);
}
.logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    max-width: 350px;/*lagura do conteiner*/
    background-color:#021e731e;
    padding: 3px;
    border-radius: 8px;
}
.logo img{
    flex-flow: row;
    height: 60px;
    width: 60px;
    margin-left: 10px;
}
.logo img:hover{
    box-shadow: 0px 0px 6px 1px;
    border-radius: 50%;
    color: var(--cor3);
    transition: 2s;
}
.logo span{
    display:inline-block;
    background-color:var(--cor1);
    border-radius: 5px;
    margin-right: 10px;
}
.logo > p{
    color: white;
    margin-right: 3vw;
    padding-left: 2px;
}

.menu_bar{
    display: flex;
}

.menu_bar li{
    margin-left: 10px;
}

.menu_bar   li a{
    padding: 10px;
    border-radius: 15px;    
    display: flex;
    align-items: center;

}
.menu_bar a:hover{
    background-color: var(--cor3);
    transition-duration: 0.4s;
}
span.material-symbols-outlined {
    margin-right: 5px;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
}
span.material-symbols-icon{
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
    line-height: 1;
 }
 span.material-symbols-icon-menu{
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    line-height: 1;
 }

/* */

main{
    height: 200vh;
    
}
.apresentacao{
    height: 500px;

}
.conteiner01{
    display: flex;
    flex-flow: row nowrap;
    height: 500px;
}
.conteiner_texto01{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.conteiner_texto01 > div{
   width: 60%;
   margin-bottom: 120px;
}

.conteiner_imagem01{
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
}
.conteiner_imagem01 img{
    width: 80%;
    height: 80%;
    margin-top: 50px;
}
.conteiner02{
    display: flex;
    flex-flow: row nowrap;
}
.conteiner_texto02{
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner_texto02 > div{
    width: 70%;
    margin-bottom: 50px;
}
.conteiner_imagem02{
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.conteiner_imagem02 img{
    height: 80%;
    width: 80%;
}

.conteiner03{
    display: flex;
}

.conteiner_texto03{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.conteiner_texto03 > div{
    width: 80%;
    
}

.conteiner04{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_conteiner01{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 70px;
}
.grid_conteiner01 section{
    height: 300px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(86, 86, 86, 0.6);
}
.grid_conteiner01 section:hover{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);

}
.apresentacao{
    height: 620px;
    width: 100%;
    background-image: url("../img/worker01.png");
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;
    background-attachment: fixed;
}
.titulo{
    font-family:'Roboto';
    font-size: 48px;
}
.paragrafo{
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 22px;
    text-align: justify;
    
}

footer{
    display: block;
    padding: 8px;
    background-color: var(--cor0);
    text-align: center;
}
footer > p {
    color: white;
    font-size: 12px;

}